body {
    margin: 0;
}
.main {
    background-color: #201b2c;
    display: flex;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.figure {
    background-color: aquamarine;
}

.card {
    background-color: red;
}